# https://docs.helix-editor.com/languages.html

[[languages.c]]
language-server = "clangd"
filetypes = ["c", "h"]
roots = ["compile_commands.json", ".git"] 

[[languages.cpp]]
language-server = "clangd"
filetypes = ["cpp", "hpp", "cc", "cxx", "h", "hh"]
roots = ["compile_commands.json", ".git"]

[[language]]
name="go"
auto-format = true
language-servers = [ "gopls", "golangci-lint-lsp" ]
file-types = ["go"]
roots = ["go.mod", ".git"]

[language-server.golangci-lint-lsp]
command = "golangci-lint-langserver"

[language-server.golangci-lint-lsp.config]
command = ["golangci-lint", "run", "--output.json.path", "stdout", "--show-stats=false", "--issues-exit-code=1"]

[[languages.rust]]
language-server = "rust-analyzer"
filetypes = ["rs"]
roots = ["Cargo.toml", ".git"]

[[languages.bash]]
language-server = "bash-language-server"
filetypes = ["sh", "bash"]
roots = [".git"]

[[languages.gas]]
language-server = "asm-lsp"
filetypes = ["asm", "s", "S"]
roots = [".git"]

# below lsp from https://github.com/hrsh7th/vscode-langservers-extracted
[[languages.json]]
language-server = "vscode-json-language-server"
filetypes = ["json"]
roots = [".git"]

[[languages.html]]
language-server = "vscode-html-language-server"
filetypes = [".html", ".gohtml"]
roots = [".git"]

[[languages.css]]
language-server = "vscode-css-language-server"
filetypes = [".css"]
roots = [".git"]


[[languages.javascript]]
language-server = "typescript-language-server"
formatter = { command = "npx", args = ["prettier", "--parser", "javascript"] }
auto-format = true
filetypes = [".js"]
roots = [".git"]

[[languages.typescript]]
language-server = "typescript-language-server"
formatter = { command = "npx", args = ["prettier", "--parser", "typescript"] }
auto-format = true
filetypes = [".ts"]
roots = [".git"]

# npm install -g @nomicfoundation/solidity-language-server
[[language]]
name = "solidity"
language-servers = ["solidity-ls"]
formatter = { command = "prettier", args = ["--parser", "solidity-parse", "--plugin", "prettier-plugin-solidity"] }
auto-format = true
roots = ["foundry.toml", ".git"]

[language-server.solidity-ls]
command = "nomicfoundation-solidity-language-server"
args = ["--stdio"]

[[language]]
name = "python"
language-servers = ["pyright", "ruff"]
