# https://docs.helix-editor.com/languages.html

[[language]]
name = "c"
language-servers = ["clangd"]
file-types = ["c", "h"]
roots = ["compile_commands.json", ".git"] 

[[language]]
name = "cpp"
language-servers = ["clangd"]
file-types = ["cpp", "hpp", "cc", "cxx", "h", "hh"]
roots = ["compile_commands.json", ".git"]

[[language]]
name="go"
language-servers = [ "gopls", "golangci-lint-lsp" ]
file-types = ["go"]
auto-format = true
roots = ["go.mod", ".git"]

[language-server.golangci-lint-lsp]
command = "golangci-lint-langserver"

[language-server.golangci-lint-lsp.config]
command = ["golangci-lint", "run", "--output.json.path", "stdout", "--show-stats=false", "--issues-exit-code=1"]

[[language]]
name = "rust"
language-servers = ["rust-analyzer"]
file-types = ["rs"]
roots = ["Cargo.toml", ".git"]
auto-format = true
formatter = { command = "rustup", args = ["run", "nightly", "rustfmt"] }
indent = { tab-width = 4, unit = "    " }


[[language]]
name = "bash"
language-servers = ["bash-language-server"]
file-types = ["sh", "bash"]
roots = [".git"]

[[language]]
name = "gas"
language-servers = ["asm-lsp"]
file-types = ["asm", "s", "S"]
roots = [".git"]

# below lsp from https://github.com/hrsh7th/vscode-langservers-extracted
[[language]]
name = "json"
language-servers = ["vscode-json-language-server"]
file-types = ["json"]
roots = [".git"]

[[language]]
name = "html"
language-servers = ["vscode-html-language-server"]
file-types = ["html", "gohtml"]
auto-pairs = {'{' = '}', '(' = ')', '<' = '>', '"' = '"', "'" = "'"}
roots = [".git"]

[[language]]
name = "css"
language-servers = ["vscode-css-language-server"]
file-types = [".css"]
roots = [".git"]


[[language]]
name = "javascript"
language-servers = ["typescript-language-server"]
formatter = { command = "npx", args = ["prettier", "--stdin-filepath", "%file"] }
file-types = ["js"]

[[language]]
name = "typescript"
language-servers = ["typescript-language-server"]
formatter = { command = "npx", args = ["prettier", "--stdin-filepath", "%file"] }
file-types = ["ts"]

[[language]]
name = "jsx"
auto-pairs = {'{' = '}', '(' = ')', '<' = '>', '"' = '"', "'" = "'"}

[[language]]
name = "tsx"
auto-pairs = {'{' = '}', '(' = ')', '<' = '>', '"' = '"', "'" = "'"}


# npm install -g @nomicfoundation/solidity-language-server
[[language]]
name = "solidity"
language-servers = ["solidity-ls"]
formatter = { command = "prettier", args = ["--parser", "solidity-parse", "--plugin", "prettier-plugin-solidity"] }
auto-format = true
roots = ["foundry.toml", ".git"]

[language-server.solidity-ls]
command = "nomicfoundation-solidity-language-server"
args = ["--stdio"]

[[language]]
name = "python"
language-servers = ["pyright", "ruff"]
